<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988416878659-qdku4g0i780uno6t3d0i6p5l0fi6dhhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988416878659-qdku4g0i780uno6t3d0i6p5l0fi6dhhs</string>
	<key>API_KEY</key>
	<string>AIzaSyBLzHI_CEthmzLV-wI1OFGuULDVEhheiJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>988416878659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projone</string>
	<key>PROJECT_ID</key>
	<string>domart-realeasta</string>
	<key>STORAGE_BUCKET</key>
	<string>domart-realeasta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988416878659:ios:fa5c06caf3cc34dce0ccf6</string>
</dict>
</plist>